@font-face {
  font-family: "Chunkfive";
  src: url("font/Chunkfive.eot");
  src: url("font/Chunkfive.eot?#iefix") format("eot"), url("font/Chunkfive.woff") format("woff"), url("font/Chunkfive.otf") format("opentype"), url("font/Chunkfive.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("font/Oswald-Light.eot");
  src: url("font/Oswald-Light.eot?#iefix") format("eot"), url("font/Oswald-Light.woff") format("woff"), url("font/Oswald-Light.otf") format("opentype"), url("font/Oswald-Light.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

html {
  background: #add8e6;
  font-family: 'Oswald';
}

body {
  background: #fff;
  margin: 0 auto;
  width: 70%;
}

h1 {
  background: #282828;
  height: 160px;
  font-size: 0;
  font-weight: normal;
  margin: 0;
  padding-top: 70px;
  position: relative;
  text-align: center;
}

h1:after {
  content: url("img/titre.png");
}

h1:before {
  background: #1ea7c5;
  content: '';
  display: block;
  height: 3px;
  margin: 10px auto 0;
  width: 22px;
}

#main ul {
  margin: 75px 0;
  text-align: center;
}

#main li {
  border-left: 2px solid #f8b30d;
  border-right: 2px solid #f8b30d;
  display: inline-block;
  margin: 0 -1px;
  padding: 0 80px 20px;
  text-transform: uppercase;
}

#main li a {
  color: #434343;
  font-size: 30px;
  text-decoration: none;
}

#main li a:hover {
  color: #f8b30d;
}

li.add:before {
  content: url("img/add.png");
  display: block;
  margin-bottom: 25px;
}

li.see:before {
  content: url("img/eye.png");
  display: block;
  margin-bottom: 25px;
}

li.graph:before {
  content: url("img/graph.png");
  display: block;
  margin-bottom: 32px;
}

#months {
  text-align: center
}

#months li {
  display: inline-block;
}


li.prev a {
  content: url("img/left.png");
}

li.next a {
  content: url("img/right.png");
}



h2 {
  background: #1ea7c5;
  color: #fff;
  font-size: 35px;
  font-weight: normal;
  margin-bottom: 0;
  padding: 25px 0;
  text-align: center;
  text-transform: uppercase;
}

h2:before {
  content: '';
  background: #fff;
  height: 2px;
  margin: 10px;
  width: 8px;
  display: inline-block;
}

h2:after {
  content: '';
  background: #fff;
  height: 2px;
  margin: 10px;
  width: 8px;
  display: inline-block;
}

#insert {
  background: #1ea7c5;
  padding-bottom: 25px;
  text-align: center;
}

#insert label {
  font-size: 0;
}

#insert input {
  color: #bababa;
  border: none;
  display: block;
  height: 50px;
  font-family: 'Oswald';
  font-size: 18px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 250px;
}

#insert input:before {
  background: #f8b30d;
  display: inline;
  height: 50px;
  padding-top: 5px;
  width: 50px;
}

#insert input[id="date"]:before {
  content: url("img/date.png");
}

#insert input[id="time"]:before {
  content: url("img/time.png");
}

#insert input[type="submit"] {
  background: #0a768d;
  border-color: #0a768d;
  color: #fff;
  display: block;
  font-size: 23px;
  height: 50px;
  margin: 20px auto 0;
  width: 250px;
}

#insert input[type="submit"]:hover {
  background: #108ca7;
  border-color: #108ca7;
}

#graphic {
  background: #1ea7c5;
  padding-bottom: 25px;
  text-align: center;
}


#graphic input {
  color: #bababa;
  border: none;
  display: block;
  height: 50px;
  font-family: 'Oswald';
  font-size: 18px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 250px;
}

#graphic input[id="day"] {
  display: inline-block;
  vertical-align: middle;
  width: 25px;
}

#graphic input[id="hour"] {
  display: inline-block;
  vertical-align: middle;
  width: 25px;
}

#graphic label[for="month"] {
  font-size: 0;
}

#graphic input[type="submit"] {
  background: #0a768d;
  border-color: #0a768d;
  color: #fff;
  display: block;
  font-size: 23px;
  height: 50px;
  margin: 20px auto 0;
  width: 250px;
}

#graphic input[type="submit"]:hover {
  background: #108ca7;
  border-color: #108ca7;
}

#graphic label {
  margin-left: 10px;
  margin-right: 10px;
}

p {
  color: #282828;
  font-size: 30px;
  padding-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}

table {
  border: 1px solid #f8b30d;
  margin: -45px auto 0;
  width: 250px;
}

table h2 {
  background: none;
  color: #282828;
  font-weight: bold;
}

table h2:before {
  content: none;
}

table h2:after {
  content: none;
}

th {
  color: #1ea7c5;
  padding: 0 20px;
  text-transform: uppercase;
}

td {
  color: #999;
  font-size: 19px;
  padding: 10px 30px;
}

td a {
  color: #434343;
  text-decoration: none;
}

