{% extends "layout.html" %}

{% block body %}
    <form action="{{ url_for('insert_ok') }}" method=post>
        <label for='date'>Date</label>
        <input id='date' name='date' type='date'/>
        <label for='time'>Heure</label>
        <input id='time' name='time' type='time'/>
        <input type='submit' value=HOQUET>
    </form>

{% if message %}
    <p><b>{{ message }}</b></p>
{% endif %}
       
{% if nbOk %}
    <p>Annabelle a eu {{ nbOk }} fois le hoquet!</p>
{% else %}
    <p>Annabelle n'a pas encore eu de hoquet. Ca va venir...</p>
{% endif %}

{% endblock %}
