<!doctype html>
<html>
    <head>
        <title>HADŌKEY</title>

        <link rel=stylesheet type=text/css href="{{url_for('static', 
        filename='style.css')}}">
        <script type="text/javascript" 
        src="http://kozea.github.com/pygal.js/javascripts/
        svg.jquery.js"></script>
        <script type="text/javascript" src="http://kozea.github.com/pygal.js/
        javascripts/pygal-tooltips.js"></script>
        </head>

<body>

    <main>
        <h1>Hadōkey</h1>

    <nav>
        <ul>
            <li><a href="{{ url_for('insert_ok') }}" class="add">Insérer</a></li>
            <li><a href="{{ url_for('show_ok') }}" class="see">Voir les hoquets</a></li>
            <li><a href="{{ url_for('show_graphics') }}" class="graph">Graphiques</a></li>
        </ul>
    </nav>

    {% for message in get_flashed_messages() %}
        <div class=flash>{{ message }}</div>
    {% endfor %}

    {% block body %}

    {% endblock %}
    </main>
</body>
</html>
