{% extends "layout.html" %}

{% block body %}

<h2>Graphiques</h2>

<form id="graphic" action="{{ url_for('show_graphics') }}" method=post>
    <label for="type">Type</label>
    <select id="type" name="graphic"><br>
        <option value="ligne">Ligne</option>
        <option value="histogramme">Histogramme</option>
    </select>
    <label for="month">Mois</label>
    <input type="date" id="month" name="month" size=1 />
    <label for="day">Jours</label><input type="radio" name="display" id="day" 
    value="day"/>
    <label for="hour">Heures</label><input type="radio" name="display" 
    id="hour" value="hour"/>
    <input type="submit" value="HOQUET" />
</form>

{% if graph %}
    <object data="{{ url_for('graph', graph=graph, type=type, year=year, 
    month=month) }}"></object>
{% endif %}


{% endblock %}
