{% extends "layout.html" %}

{% block body %}

<form action="{{ url_for('show_graphics') }}" method=post>
    <label>Type</label>
    <select id=type name=graphic><br>
        <option value="ligne">Ligne</option>
        <option value="histogramme">Histogramme</option>
    </select><br>
    <label>Mois</label>
    <input type='date' id='month' name='month'/><br>
    <label for='day'>Jours</label><input type='radio' name='display' id='day' value='day'/>
    <label for='hour'>Heures</label><input type='radio' name='display' id='hour' value='hour'/><br>
    <input type='submit' value='HOQUET' />
</form>

{% if graph %}
    <img src="{{ url_for('graph', graph=graph, type=type) }}" style="width:800px"/>
{% endif %}


{% endblock %}
