{% extends "layout.html" %}

{% block body %}

<nav>
{% set previous_month =  month - 1 or 12 %}
{% set previous_year = year-1 if previous_month == 12 else year %}
    <a href="{{ url_for('show_ok', year=previous_year, month=previous_month) }}
    ">Mois précédent</a>
    
{% set next_month =  1 if month == 12 else month+1 %}
{% set next_year = year+1 if next_month == 1 else year %}
<a href="{{ url_for('show_ok', year=next_year, month=next_month)  }}">
Mois suivant</a>
</nav>

<!--Calendar -->
<table>
    <caption><h2>{{ title | capitalize }}</h2></caption>
    <thead>
        {% for day_week in days_week %}
        <th>{{ day_week | capitalize }}</th>
        {% endfor %}   
    </thead>

<tbody>
    <tr>
        {% for day in days %}
            {% if day.day == 1 %}
                {% set link = False if link else True %}
            {% endif %}     
        
                {% if link %}
                   <td><a href="{{ url_for('show_ok', year=year, month=month, 
                    day=day.day) }}">{{ day.day }}</a></td>    
                {% else %}
                    <td>{{ day.day }}</td>
                {% endif %}
                
            {% if not loop.index%7 and not loop.last %}
                </tr> <tr>
            {% endif %}
        {% endfor %}
   </tr>
</tbody>
</table>

{% if french_date %}
    <h3>{{ french_date }}</h3>
<ul>
{% for ok in ok_list %}
    <li>{{ ok }}</li>
{% else %}
    <li><em>Annabelle n'a pas encore eu de hoquet. Ca va venir... </em></li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}
