{% extends "layout.html" %}

{% block body %}
<!--Mois précédent-->
{% set previous_month =  month - 1 or 12 %}
{% set previous_year = year-1 if previous_month == 12 else year %}
    <a href="{{ url_for('show_ok', year=previous_year, month=previous_month) }}">Mois précédent</a>

<!--Calendrier -->
<table>
    <thead>
        <th>{{ title | capitalize }}</th>
    </thead>
    <thead>
        {% for dayweek in daysweek %}
        <th>{{ dayweek | capitalize }}</th>
        {% endfor %}   
    </thead>

<tbody>
    <tr>
        {% for day in days %}
            <td><a href="{{ url_for('show_ok', date='%s%s' % (link, day.day)) }}">{{ day.day }}</a></td>
            {% if not loop.index%7 and not loop.last %}
                </tr> <tr>
            {% endif %}
        {% endfor %}
   </tr>
</tbody>
</table>

<!--Mois suivant-->
{% set next_month =  1 if month == 12 else month+1 %}
{% set next_year = year+1 if next_month == 1 else year %}
<a href="{{ url_for('show_ok', year=next_year, month=next_month)  }}">Mois suivant</a>

{% if frenchDate %}
    <p>{{ frenchDate }}</p>
<ul>
{% for ok in ok_list %}
    <li>{{ ok }}</li>
{% else %}
    <li><em>Annabelle n'a pas encore eu de hoquet. Ca va venir... </em></li>
{% endfor %}
</ul>

{% endif %}

{% endblock %}
